@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwindcss forms */

html, body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    scroll-behavior: smooth;
    transition: all 3s;
    box-sizing: border-box;
    padding: 0;
}